body{
    background-color: #3A4250;
}
body,html,.sidebar, .container-fluid,.content, .row, #app{
    height: 100%;
    margin:0;padding:0;
    overflow: auto;
}
.form-group{
    margin-bottom: 10px;
}
input:focus{
    outline: none;
}
.header{
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}
.header-title{
    font-size: 22px;
}
.header .logout-btn{
    background: transparent;
    border: none;
    color: #fff;
}
.bg-dark{
    background: #222831 !important;
}
.sidebar, .content{
    width: 100%;
    padding-top: 15px;
    float: left;
    color: #eee;
}
.sidebar input, .sidebar button{
    color: #000;
}
.sidebar hr{
    width: 100%;
}
.content{
    width:100%;
    float:right;
    background-color: #3A4250;
}
.center{
    text-align: center;
}
.new-box{
    position: relative;
}
.new-box input{
    border: none;
    width: 100%;
    height: 35px;
    line-height: 20px;
    padding: 2px 5px;
    outline: none;
    background-color: #ffffffc7;
}
.new-box button{
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    font-size: 24px;
    position: absolute;
    top:0; right:0;
}
.create-box .new-box{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.todo-items{
    list-style: none;
    margin-top: 20px;
    padding: 0px;

}
.todo-item{
    display: flex;
}
.todo-item input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-top: 7px;
}
.todo-item .editable-text-box{
    flex-grow: 1;
}
.todo-list{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    width: 90%;

}
.todo-list li{
    padding: 0px;
    background-color: #2C3441;
    cursor: pointer;
    padding:10px 20px ;
}
.todo-list li:hover, .todo-list li:active{
    background-color: #262D38;
}

.editable-text-box{
    position: relative;
}
.editable-text-box input{
    border: none;
    width: 100%;
    color: #fff;
    height: 35px;
    line-height: 20px;
    padding: 2px 5px;
    outline: none;
    background: #ffffffc7;
}
.editable-text-box input:disabled{
    cursor: pointer !important;
    background: transparent;
}
.editable-text-box button{
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    font-size: 15px;
    opacity: 0.6;
    color: #fff;
}
.editable-text-box button.share-btn{
    width: 75px;
}
.editable-text-box:hover button{
    opacity: 0.9;
}
.editable-text-box .btn-box{
    position: absolute;
    top:0; right:0;
}
.todo-header, .todo-content{
    margin:20px;
}
.todo-header{

}
.todo-item{

}
.todo-content .new-box input, .todo-content .new-box button{
    color:#000;
    border: none;
    background-color: #ffffffc7;
}
.todo-header input{
    border: none;
    font-size: 32px;
}
@media only screen and (min-width: 600px){
    .sidebar{
        width: 33%;
        float: left;
    }
    .content{
        width:66%;
        float:right;
    }
}